<div class="container mt-5">
    <h2 class="text-center fontTitle">Listar Eliminar</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                  <table border="0" span="0" *ngIf="hayRegistros(); else sinarticulos" class="table table-borderless table-striped table-dark"  style=" border:0px; box-shadow:3px 3px 5px 4px rgba(0,0,0,0.25);">
                    <thead class="thead-dark" style="background:black; color:white;">
                      <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Correo</td>
                        <td>Numero</td>
                        <td>Acciones</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of listusers ">
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellido}}</td>
                        <td>{{user.correo}}</td>
                        <td>{{user.numero}}</td>
                        <td><button class="btn btn-danger text-white" (click)="Eliminar(user.id_usuario!)">Borrar</button>&nbsp;<button class="btn btn-info text-white" (click)="Seleccionar(user.id_usuario!)">Seleccionar</button></td>
                      </tr>
                    </tbody>
                  </table>
                  <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
            </div>
        </div>
    </div>
  </div>
